export DAILY_REPORT_EMAIL="{{ pihole_report_email }}"
export DAILY_REPORT_SENDER="{{ pihole_report_sender }}"
export DAILY_REPORT_SMTP_HOST="{{ pihole_report_smtp_host }}"
export DAILY_REPORT_SMTP_PORT="{{ pihole_report_smtp_port }}"
export DAILY_REPORT_SMTP_USER="{{ pihole_report_smtp_user }}"
export DAILY_REPORT_SMTP_PASSWORD="{{ pihole_report_smtp_password }}"
export PIHOLE_API_TOKEN="{{ pihole_report_api_token }}"
export PIHOLE_WEB_PASSWORD="{{ pihole_web_password }}"
export PIHOLE_API_BASE="http://127.0.0.1/admin/api.php"
export PIHOLE_V6_API_BASE="http://127.0.0.1"
export PIHOLE_API_TIMEOUT="5"
export PIHOLE_REPORT_MODE="{{ pihole_report_mode }}"
export PIHOLE_CONTAINER_NAME="{{ pihole_container_name }}"
export PIHOLE_API_PASSWORD="{{ pihole_api_password }}"
