ALERT_EMAIL_TO="{{ pihole_alert_email_to }}"
ALERT_EMAIL_FROM="{{ pihole_alert_email_from }}"
ALERT_SMTP_HOST="{{ pihole_alert_smtp_host }}"
ALERT_SMTP_PORT="{{ pihole_alert_smtp_port }}"
ALERT_SMTP_USER="{{ pihole_alert_smtp_user }}"
ALERT_SMTP_PASSWORD="{{ pihole_alert_smtp_password }}"
ALERT_PEER_HOST="{{ pihole_alert_peer_host }}"
ALERT_WEB_URL="{{ pihole_alert_web_url }}"
ALERT_VERIFY_TLS="{{ pihole_alert_verify_tls | bool | lower }}"
ALERT_LOG="{{ pihole_alert_log }}"
ALERT_TIMEOUT_SECONDS="{{ pihole_alert_timeout_seconds }}"
